
    .subscribe-button{
        background-color: rgb(200, 15, 15);
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;

        margin-right: 8px;
        margin-bottom: 8px;
        margin-top: 8px;

        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 16px;
        padding-right: 16px;

        transition: opacity 0.15s;
    }
    .subscribe-button:hover{
        opacity: 0.8;
    }
    .subscribe-button:active{
        opacity: 0.5;
    }
    .join-button{
        background-color: white;
        color: rgb(117, 117, 253);
        border-color: rgb(117, 117, 253);
        border-radius: 5px;
        border-style: solid;
        border-width: 1px;
        cursor: pointer;

        margin-right: 8px;
        margin-bottom: 8px;
        margin-top: 8px;

        padding-top: 9px;
        padding-bottom: 9px;
        padding-left: 16px;
        padding-right: 16px;

        transition: 
            background-color 0.1s,
            color 0.1s;
    }
    .join-button:hover{
        background-color: rgb(117, 117, 253) ;
        color: white;
    }
    .join-button:active{
        opacity: 0.8;
    }

    .tweet-button{
        background-color: rgb(26, 140, 216);
        color:white;
        border: none;
        border-radius: 100px;
        cursor: pointer;
        font-weight: bold;
        font-size: 15px;

        transition: box-shadow 0.2s;

        margin-right: 8px;
        margin-bottom: 8px;
        margin-top: 8px;
        padding-top: 9px;
        padding-bottom: 9px;
        padding-left: 16px;
        padding-right: 16px;
    }
    .tweet-button:hover{
        box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
    }
    .create-pull-request-button{
        background-color: rgb(35, 168, 46);
        color:whitesmoke;
        border: none;

        border-radius: 6px;
        cursor: pointer;
        font-family: sans-serif;
        font-weight: bold;

        margin-right: 8px;
        margin-bottom: 8px;
        margin-top: 8px;

        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 30px;
        padding-right: 30px;
        
        transition: 
            opacity 0.15s,
            box-shadow 0.2s;
    }
    .create-pull-request-button:hover{
        box-shadow: 0px 0px 5px rgba(0,0,0,0.6);
        opacity: 0.8;
    }
    .create-pull-request-button:active{
        opacity: 1;

    }
